---
import db from '@lib/db/index';
export const partial = true;

const users = await db.query.user.findMany();
---

{
  users.map((user) => (
    <div>
      <h2>{user.name}</h2>
      <p>{user.email}</p>
    </div>
  ))
}
