<section>
  <div class="mx-auto w-full max-w-7xl items-center px-8 py-24 md:px-12 lg:px-24">
    <div>
      <div class="mx-auto max-w-4xl text-center">
        <div class="sm:flex sm:justify-center">
          <div
            class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
          >
            <a href="https://lexingtonthemes.com/free-templates/" class="font-semibold text-indigo-600"
              ><span class="absolute inset-0" aria-hidden="true"></span>
              <span class="block lg:inline">
                More free & Premium templates <span aria-hidden="true">&rarr;</span>
              </span>
            </a>
          </div>
        </div>
        <p class="mt-8 text-4xl font-extrabold tracking-tight text-black lg:text-5xl">
          A starter template built with Astro and Tailwind CSS for your next project
        </p>
        <p class="mx-auto mt-4 max-w-2xl text-base text-gray-500 lg:text-xl">
          Putting together a directory website was a challenge. Superstash lets you focus on the content and makes the
          entire process effortless.
        </p>
      </div>
      <div class="mt-10 flex flex-col justify-center gap-3 sm:flex-row">
        <a
          class="inline-flex h-12 w-full items-center justify-center rounded-xl border px-6 py-3 text-center font-medium text-black text-black/80 duration-200 focus:outline-none focus-visible:outline-black lg:w-auto"
          href="https://github.com/michael-andreuzza/astrosaas">GitHub</a
        >
        <a
          class="inline-flex h-12 w-full items-center justify-center rounded-xl border-2 border-black bg-black px-6 py-3 text-center font-medium text-white duration-200 hover:border-black hover:bg-transparent hover:text-black focus:outline-none focus-visible:outline-black focus-visible:ring-black lg:w-auto"
          href="https://lexingtonthemes.com"
          >Lexington Themes &nbsp; &rarr;
        </a>
      </div>
      <dl
        class="mx-auto mt-8 max-w-4xl items-start space-y-6 text-center text-sm sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8"
      >
        <div class="text-gray-500">
          <strong class="text-gray-700">Astro, Tailwind CSS and Alpine.js!!!!</strong> ━ This are the popular technologies
          behind Astrosaas.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Includes 6 pages</strong> ━ You will find this landing, faq, terms,privacy,sign up
          and sign in pages.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Different section</strong> ━ The starter includes different feature sections, a pricing
          table, testmionial, CTA and full forms. more.
        </div>
      </dl>
    </div>
    <div class="relative mx-auto w-full max-w-7xl items-center py-12 pb-12">
      <div class="rounded-3xl bg-gray-100 p-8" style="">
        <img
          alt=""
          class="relative w-full rounded border object-cover shadow-2xl lg:rounded-2xl"
          src="https://brightlight.lexingtonthemes.com/assets/dashboard.svg"
        />
      </div>
    </div>
    <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-6 lg:mt-8">
      <div class="col-span-1 flex justify-center">
        <img alt="logo" class="h-8" src="https://storage.otofacts.com/images/mekanika-logo.png" />
      </div>
      <div class="col-span-1 flex justify-center">
        <img alt="logo" class="h-8" src="https://storage.otofacts.com/images/pandulaju.png" />
      </div>
      <div class="col-span-1 flex justify-center">
        <img alt="logo" class="h-8" src="https://storage.otofacts.com/images/funtasticko.png" />
      </div>
      <div class="col-span-1 flex justify-center">
        <img alt="logo" class="h-8" src="https://storage.otofacts.com/images/NST-Logo.webp" />
      </div>
      <div class="col-span-1 flex justify-center">
        <img alt="logo" class="h-8" src="https://storage.otofacts.com/images/ctos-vehicle-check-logo.svg" />
      </div>
    </div>
  </div>
</section>
