---
import '@assets/styles/tailwind.css';

import { ViewTransitions } from 'astro:transitions';
import SpeedInsights from '@vercel/speed-insights/astro';
import { env } from '@environment';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <SpeedInsights />
  </head>
  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <script>
      import 'htmx.org';
    </script>
    <script
      async
      crossorigin="anonymous"
      data-clerk-publishable-key={env.PUBLIC_CLERK_PUBLISHABLE_KEY}
      onload="window.Clerk.load()"
      src="https://top-moccasin-15.clerk.accounts.dev/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
      type="text/javascript"></script>

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
