---
import BaseHead from '@components/BaseHead.astro';
import Navigation from '@components/global/Navigation.astro';
import type { HeadProps } from '@libs/types';

interface Props extends HeadProps {}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="no-touchevents hydrated scroll-smooth selection:bg-accent-500 selection:text-white">
  <head>
    <BaseHead {title} />
  </head>
  <body class="bg-white">
    <Navigation />

    <slot />

    <script>
      import htmx from 'htmx.org';
      import { initializeClerk } from '../libs/stores/auth';

      // After page load, initialize Clerk
      initializeClerk();

      // After view transition to another page, re-process the body to re-bind htmx attributes
      // and re-initialize Clerk
      document.addEventListener('astro:after-swap', () => {
        htmx.process(document.body);
        initializeClerk();
      });
    </script>
  </body>
</html>
