---
import '@assets/styles/base.css';
import BaseHead from '@components/BaseHead.astro';
import { env } from '@environment';
import Navigation from '@components/global/Navigation.astro';
import type { HeadProps } from '@lib/types';

interface Props extends HeadProps {}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="no-touchevents hydrated scroll-smooth selection:bg-accent-500 selection:text-white">
  <head>
    <BaseHead {title} />
  </head>
  <body class="bg-white">
    <Navigation />

    <slot />

    <script>
      import 'htmx.org';
    </script>

    <script
      async
      crossorigin="anonymous"
      data-clerk-publishable-key={env.PUBLIC_CLERK_PUBLISHABLE_KEY}
      onload="window.Clerk.load()"
      src="https://top-moccasin-15.clerk.accounts.dev/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
      type="text/javascript"></script>
  </body>
</html>
