---
import Layout from './Layout.astro';
import Header from '@components/widgets/Header.astro';
import { headerData } from '@lib/navigation';
import type { MetaData } from '@lib/types';

export interface Props {
  title: string;
  metadata?: MetaData;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <slot name="header">
    <Header {...headerData(Astro.locals.country)} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
</Layout>
