---
import TestimonialList from './TestimonialList.astro';
---

<section class="bg-gray-100">
  <div class="mx-auto w-full max-w-7xl items-center px-8 py-24 md:px-12 lg:px-24">
    <div class="mx-auto max-w-2xl md:text-center">
      <h2 class="text-4xl font-extrabold tracking-tight text-black lg:text-5xl">Astrosaas is very popular!</h2>
    </div>
    <ul
      role="list"
      class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-3"
    >
      <TestimonialList />
    </ul>
  </div>
</section>
